.post {
    margin: 10px 0;
    border-radius: 10px;
    background-color: var(--surface-variant);
    padding: 30px 20px;
}

.post h1 {
    font-size: 20px;
    color: var(--primary);
    margin-bottom: 15px;
}

.post p {
    font-size: 16px;
    text-align: justify;
    opacity: 0.9;
}

.post a {
    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}

.post a:hover {
    opacity: 0.7;
}